In [2]:
import numpy as np

In [4]:
np.array([3, 4, 8, 2, 1])

array([3, 4, 8, 2, 1])

In [6]:
import pandas as pd

In [8]:
pd.Series(data=np.array([3, 4, 8, 2, 1]))

0    3
1    4
2    8
3    2
4    1
dtype: int32

In [10]:
np.arange(5, 30, 5)

array([ 5, 10, 15, 20, 25])

In [12]:
pd.Series(np.arange(5, 30, 5), index=['a', 'b', 'c', 'd', 'e'])

a     5
b    10
c    15
d    20
e    25
dtype: int32

In [15]:
x = pd.Series(np.arange(5, 30, 5), index=['a', 'b', 'c', 'd', 'e'])
x

a     5
b    10
c    15
d    20
e    25
dtype: int32

In [17]:
a = ['apple','ant','atm']
b = ['banana','bee','base']
c = ['carrot','cat','cap']
d = ['dog','dialog','daily']

In [20]:
pd.DataFrame(data=[a,b,c,d])

        0       1      2
0   apple     ant    atm
1  banana     bee   base
2  carrot     cat    cap
3     dog  dialog  daily