In [1]:
import pandas as pd

In [3]:
pd.Series('apple')

0    apple
dtype: object

In [5]:
pd.Series('apple', index=[10])

10    apple
dtype: object

In [8]:
list_data = [1, 2, 3, 4, 5]
ex = pd.Series(data=list_data)
ex

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [10]:
ex.size

5

In [13]:
type(ex.values)

numpy.ndarray

In [15]:
ex.index

RangeIndex(start=0, stop=5, step=1)

In [17]:
ex.keys()

RangeIndex(start=0, stop=5, step=1)

In [19]:
ex.index[1]

1

In [21]:
ex.keys()[1]

1

In [23]:
ex.index[2]

2

In [25]:
ex.keys()[2]

2

In [28]:
import numpy as np

In [31]:
pd.Series(np.array([4, 3, 5, 8]))

0    4
1    3
2    5
3    8
dtype: int32

In [33]:
pd.Series(np.array([4, 3, 5, 8]), index=['a', 'b', 'c', 'd'])

a    4
b    3
c    5
d    8
dtype: int32

In [35]:
b = {'a': 4, 'b': 2, 'c': 3}

In [37]:
pd.Series(data=b)

a    4
b    2
c    3
dtype: int64

In [39]:
pd.Series(data=b, index=['b', 'c', 'a', 'e'])

b    2.0
c    3.0
a    4.0
e    NaN
dtype: float64

In [41]:
pd.Series(data=b, index=['b', 'c', 'a', 'e'], dtype = str)

b      2
c      3
a      4
e    NaN
dtype: object

In [44]:
bb = pd.Series(data=b, index=['b', 'c', 'a', 'e'], dtype = str, name = "OK")

In [48]:
bb.index.name = "NO"
bb

NO
b      2
c      3
a      4
e    NaN
Name: OK, dtype: object

In [50]:
h = [1.0, 2.0, 3.0, 4.0]
i = [4.0, 3.0, 2.0, 1.0]
j = [5.0, 6.0, 7.0, 8.0]
k = [8.0, 7.0, 6.0, 5.0]

pd.DataFrame(data=[h, i, j, k], index=['1st', '2nd','3rd','4th'],
             columns = ['one', 'two', 'three', 'four'])

     one  two  three  four
1st  1.0  2.0    3.0   4.0
2nd  4.0  3.0    2.0   1.0
3rd  5.0  6.0    7.0   8.0
4th  8.0  7.0    6.0   5.0

In [53]:
e = [[1.0, 2.0, 3.0, 4.0]
,[4.0, 3.0, 2.0, 1.0]
,[5.0, 6.0, 7.0, 8.0]
,[8.0, 7.0, 6.0, 5.0]]

pd.DataFrame(data=e, index=['1st', '2nd','3rd','4th'],
             columns = ['one', 'two', 'three', 'four'])

     one  two  three  four
1st  1.0  2.0    3.0   4.0
2nd  4.0  3.0    2.0   1.0
3rd  5.0  6.0    7.0   8.0
4th  8.0  7.0    6.0   5.0

In [54]:
a = {'one':[1.0, 2.0, 3.0, 4.0]
,'two':[4.0, 3.0, 2.0, 1.0]
,'three':[5.0, 6.0, 7.0, 8.0]
,'four':[8.0, 7.0, 6.0, 5.0]}

pd.DataFrame(data=a, index=['1st', '2nd','3rd','4th'])

     one  two  three  four
1st  1.0  4.0    5.0   8.0
2nd  2.0  3.0    6.0   7.0
3rd  3.0  2.0    7.0   6.0
4th  4.0  1.0    8.0   5.0

In [59]:
pd.DataFrame(a, index=['1st', '2nd','3rd','4th']
             , columns = ['one', 'three', 'two', 'four'])

     one  three  two  four
1st  1.0    5.0  4.0   8.0
2nd  2.0    6.0  3.0   7.0
3rd  3.0    7.0  2.0   6.0
4th  4.0    8.0  1.0   5.0

In [61]:
pd.DataFrame(a, index = ['1st', '2nd', '3rd', '4th'],
            columns = ['three', 'two'])

     three  two
1st    5.0  4.0
2nd    6.0  3.0
3rd    7.0  2.0
4th    8.0  1.0

In [66]:
pd.DataFrame(a, index = ['1st', '2nd', '3rd', '4th'],
            columns = ['three', 'two'])
a2 = {'one' : {'1st': 2.0, '2nd':2.0, '3rd':3.0, '4th':4.0},
      'two' : {'1st': 4.0, '2nd':3.0, '3rd':2.0, '4th':1.0},
      'three' : {'1st': 5.0, '2nd':6.0, '3rd':7.0, '4th':8.0},
      'four' : {'1st': 8.0, '2nd':7.0, '3rd':6.0, '4th':4.0}}

In [70]:
df2 = pd.DataFrame(a2)
df2

     one  two  three  four
1st  2.0  4.0    5.0   8.0
2nd  2.0  3.0    6.0   7.0
3rd  3.0  2.0    7.0   6.0
4th  4.0  1.0    8.0   4.0

In [72]:
df2.T

       1st  2nd  3rd  4th
one    2.0  2.0  3.0  4.0
two    4.0  3.0  2.0  1.0
three  5.0  6.0  7.0  8.0
four   8.0  7.0  6.0  4.0

In [73]:
a = {'one' : {'1st': 2.0, '2nd':2.0, '3rd':3.0},
      'two' : {'1st': 4.0, '2nd':3.0, '3rd':2.0},
      'three' : { '2nd':6.0, '3rd':7.0},
      'four' : {'1st': 8.0, '3rd':6.0, '4th':4.0}}
aaa=pd.DataFrame(a)
aaa

     one  two  three  four
1st  2.0  4.0    NaN   8.0
2nd  2.0  3.0    6.0   NaN
3rd  3.0  2.0    7.0   6.0
4th  NaN  NaN    NaN   4.0