In [2]:
import pandas as pd

In [7]:
df = pd.DataFrame(
    {'a' : [4, 5, 6, 6],
     'b': [7, 8, 9, 9],
     'c': [10, 11, 12, 12]},
     index=[1, 2, 3, 4]
)
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12
4  6  9  12

In [11]:
df.a.isin([5])
df[df.a.isin([5])]

   a  b   c
2  5  8  11

In [13]:
df[df['a'].isin([5,6])]

   a  b   c
2  5  8  11
3  6  9  12
4  6  9  12

In [15]:
df.b>7

1    False
2     True
3     True
4     True
Name: b, dtype: bool

In [17]:
df[df.b<7]

Empty DataFrame
Columns: [a, b, c]
Index: []

In [31]:
df[df['b'] > 7 ]

   a  b   c
2  5  8  11
3  6  9  12
4  6  9  12

In [32]:
df.drop_duplicates()

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [33]:
pd.isnull(df)

       a      b      c
1  False  False  False
2  False  False  False
3  False  False  False
4  False  False  False

In [55]:
import numpy as np

In [57]:
import pandas as pd

In [58]:
e = [[1.0, 2.0, 3.0, 4.0],
     [4.0, 3.0, 2.0, 1.0],
     [5.0, 6.0, 7.0, 8.0],
     [8.0, 7.0, 6.0, 5.0]]
pd.DataFrame(data=e,
            index = ['1st', '2nd', '3rd', '4th'],
            columns = ['one', 'two', 'three', 'four'])

     one  two  three  four
1st  1.0  2.0    3.0   4.0
2nd  4.0  3.0    2.0   1.0
3rd  5.0  6.0    7.0   8.0
4th  8.0  7.0    6.0   5.0

In [53]:
e = [[1.0, 2.0, 3.0, 4.0],
     [4.0, 3.0, 2.0, 1.0],
     [5.0, 6.0, 7.0, 8.0],
     [8.0, 7.0, 6.0, 5.0]]
pd.DataFrame(e.transpose(),
            index = ['1st', '2nd', '3rd', '4th'],
            columns = ['one', 'two', 'three', 'four'])

AttributeError: 'list' object has no attribute 'transpose'

In [59]:
e.T

AttributeError: 'list' object has no attribute 'T'

In [60]:
e = np.array(
    [[1.0, 2.0, 3.0, 4.0],
     [4.0, 3.0, 2.0, 1.0],
     [5.0, 6.0, 7.0, 8.0],
     [8.0, 7.0, 6.0, 5.0]])
pd.DataFrame(e.transpose(),
            index = ['1st', '2nd', '3rd', '4th'],
            columns = ['one', 'two', 'three', 'four'])

     one  two  three  four
1st  1.0  4.0    5.0   8.0
2nd  2.0  3.0    6.0   7.0
3rd  3.0  2.0    7.0   6.0
4th  4.0  1.0    8.0   5.0

In [62]:
e.T

array([[1., 4., 5., 8.],
       [2., 3., 6., 7.],
       [3., 2., 7., 6.],
       [4., 1., 8., 5.]])

In [67]:
a = {'one':  [1.0, 2.0, 3.0, 4.0],
     'two':  [4.0, 3.0, 2.0, 1.0],
     'three':[5.0, 6.0, 7.0, 8.0],
     'four': [8.0, 7.0, 6.0, 5.0]}
pd.DataFrame(a, index = ['1st', '2nd', '3rd', '4th'],
columns = ['one','111', 'two'])

     one  111  two
1st  1.0  NaN  4.0
2nd  2.0  NaN  3.0
3rd  3.0  NaN  2.0
4th  4.0  NaN  1.0

In [68]:
a.T

AttributeError: 'dict' object has no attribute 'T'