## 1. 외부(내장) 데이터 가져오기

In [174]:
import pandas as pd

In [175]:
import seaborn as sns

In [176]:
sns.load_dataset("iris")

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [20]:
help(sns.load_dataset)

Help on function load_dataset in module seaborn.utils:

load_dataset(name, cache=True, data_home=None, **kws)
    Load an example dataset from the online repository (requires internet).

    This function provides quick access to a small number of example datasets
    that are useful for documenting seaborn or generating reproducible examples
    for bug reports. It is not necessary for normal usage.

    Note that some of the datasets have a small amount of preprocessing applied
    to define a proper ordering for categorical variables.

    Use :func:`get_dataset_names` to see a list of available datasets.

    Parameters
    ----------
    name : str
        Name of the dataset (``{name}.csv`` on
        https://github.com/mwaskom/seaborn-data).
    cache : boolean, optional
        If True, try to load from the local cache first, and save to the cache
        if a download is required.
    data_home : string, optional
        The directory in which to cache data; see :func:`get_data_home`.
    kws : keys and values, optional
        Additional keyword arguments are passed to passed through to
        :func:`pandas.read_csv`.

    Returns
    -------
    df : :class:`pandas.DataFrame`
        Tabular data, possibly with some preprocessing applied.

In [21]:
abc = sns.load_dataset("iris")
abc.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [23]:
abc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [25]:
abc.shape

(150, 5)

In [27]:
abc.size

750

In [30]:
abc['sepal234'] = abc['sepal_length'] + abc['sepal_width']
abc.head()

   sepal_length  sepal_width  petal_length  petal_width species  sepal234
0           5.1          3.5           1.4          0.2  setosa       8.6
1           4.9          3.0           1.4          0.2  setosa       7.9
2           4.7          3.2           1.3          0.2  setosa       7.9
3           4.6          3.1           1.5          0.2  setosa       7.7
4           5.0          3.6           1.4          0.2  setosa       8.6

## 2. 정규표현식을 활용한 열 검색

##### 열 검색하는 코드 변수명.filter()
##### 정규표현식 옵션 regex= ' 패턴 '

In [32]:
abc.head(2)

   sepal_length  sepal_width  petal_length  petal_width species  sepal234
0           5.1          3.5           1.4          0.2  setosa       8.6
1           4.9          3.0           1.4          0.2  setosa       7.9

In [38]:
abc.filter(regex='_').head(2)

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2

In [39]:
abc.filter(regex='s').head(2)

   sepal_length  sepal_width species  sepal234
0           5.1          3.5  setosa       8.6
1           4.9          3.0  setosa       7.9

In [44]:
# p 들어가는거 싹 다
abc.filter(regex='p').head(2)

   sepal_length  sepal_width  petal_length  petal_width species  sepal234
0           5.1          3.5           1.4          0.2  setosa       8.6
1           4.9          3.0           1.4          0.2  setosa       7.9

In [ ]:
# p로 시작하는거만
abc.filter(regex='^p').head(2)

In [45]:
# p로 시작하지 않지만 p가 들어가는 거 (중간에 있는거)
abc.filter(regex='.p').head(2)

   sepal_length  sepal_width species  sepal234
0           5.1          3.5  setosa       8.6
1           4.9          3.0  setosa       7.9

In [47]:
# 원하는 단어 뒤에 '$' 넣으면 됨
abc.filter(regex='length$').head(2)

   sepal_length  petal_length
0           5.1           1.4
1           4.9           1.4

In [49]:
abc.filter(regex='^sepal').head(2)

   sepal_length  sepal_width  sepal234
0           5.1          3.5       8.6
1           4.9          3.0       7.9

In [56]:
# l 뒤에 숫자 있는 거 (개수 상관없이) \d+
abc.filter(regex='l\d').head(2)

   sepal234
0       8.6
1       7.9

In [ ]:
# l 뒤에 숫자 있는 거 (개수 상관없이) \d+
abc.filter(regex='l\d+').head(2)

In [57]:
abc.filter(regex='l[0-9]').head(2)

   sepal234
0       8.6
1       7.9

In [54]:
# l 뒤에 숫자 4개 이상 달린거  \d{4}
abc.filter(regex='l\d{4}').head(2)

Empty DataFrame
Columns: []
Index: [0, 1]

In [58]:
# l 뒤에 숫자 2개 이상 달린거  \d{2}
# 원래는 엄격하게 숫자 2개여야함
abc.filter(regex='l\d{2}').head(2)

   sepal234
0       8.6
1       7.9

In [60]:
# \D 이게 문자
abc.filter(regex='\D').head(2)

   sepal_length  sepal_width  petal_length  petal_width species  sepal234
0           5.1          3.5           1.4          0.2  setosa       8.6
1           4.9          3.0           1.4          0.2  setosa       7.9

In [62]:
# \D$ 이게 문자로 끝나는 거만
abc.filter(regex='\D$').head(2)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [64]:
# 열이름에 pet가 들어가거나 length 들어가면 뽑아라
abc.filter(regex='pet' '|' 'length').head(2)

   sepal_length  petal_length  petal_width
0           5.1           1.4          0.2
1           4.9           1.4          0.2

In [66]:
# '|'(or 연산)은 가능하나 '&'(and 연산)은 불가능 하다
abc.filter(regex='pet' '&' 'length').head(2)

#or 연산은 가능하나 and연산은 지원하지 않음

Empty DataFrame
Columns: []
Index: [0, 1]

In [68]:
abc.head()

   sepal_length  sepal_width  petal_length  petal_width species  sepal234
0           5.1          3.5           1.4          0.2  setosa       8.6
1           4.9          3.0           1.4          0.2  setosa       7.9
2           4.7          3.2           1.3          0.2  setosa       7.9
3           4.6          3.1           1.5          0.2  setosa       7.7
4           5.0          3.6           1.4          0.2  setosa       8.6

In [70]:
abc.loc[2:5, 'sepal_width':'petal_width']

   sepal_width  petal_length  petal_width
2          3.2           1.3          0.2
3          3.1           1.5          0.2
4          3.6           1.4          0.2
5          3.9           1.7          0.4

In [73]:
abc.iloc[-3:, [1, 2, 5]]

     sepal_width  petal_length  sepal234
147          3.0           5.2       9.5
148          3.4           5.4       9.6
149          3.0           5.1       8.9

In [77]:
abc.loc[abc['sepal_length']>5.5,['sepal_length','sepal_width']]

     sepal_length  sepal_width
14            5.8          4.0
15            5.7          4.4
18            5.7          3.8
50            7.0          3.2
51            6.4          3.2
..            ...          ...
145           6.7          3.0
146           6.3          2.5
147           6.5          3.0
148           6.2          3.4
149           5.9          3.0

[91 rows x 2 columns]

## 3. Summerize Data

In [177]:
aa = sns.load_dataset("iris")
aa.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [81]:
# 'sepcies'에 등장하는 종류별로 count 해라
aa['species'].value_counts()
# 지정한 컬럼의 값 종류별로 그룹화 해서 개수를 보여줌

virginica     50
versicolor    50
setosa        50
Name: species, dtype: int64

In [83]:
pd.DataFrame(aa['species'].value_counts())

            species
virginica        50
versicolor       50
setosa           50

In [85]:
aa.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [87]:
aa.shape

(150, 5)

In [89]:
aa.shape[0]

150

In [91]:
len(aa)

150

In [93]:
aa.shape[0] == len(aa)

True

In [96]:
aa['species'].nunique()
# 값의 종류가 몇 개?

3

In [100]:
aa['species'].unique()
# 값의 종류(이름)

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [180]:
aa.describe(include='all')

        sepal_length  sepal_width  petal_length  petal_width     species
count     150.000000   150.000000    150.000000   150.000000         150
unique           NaN          NaN           NaN          NaN           3
top              NaN          NaN           NaN          NaN  versicolor
freq             NaN          NaN           NaN          NaN          50
mean        5.843333     3.057333      3.758000     1.199333         NaN
std         0.828066     0.435866      1.765298     0.762238         NaN
min         4.300000     2.000000      1.000000     0.100000         NaN
25%         5.100000     2.800000      1.600000     0.300000         NaN
50%         5.800000     3.000000      4.350000     1.300000         NaN
75%         6.400000     3.300000      5.100000     1.800000         NaN
max         7.900000     4.400000      6.900000     2.500000         NaN

In [104]:
aa.count()

sepal_length    150
sepal_width     150
petal_length    150
petal_width     150
species         150
dtype: int64

In [106]:
aa.max()

sepal_length          7.9
sepal_width           4.4
petal_length          6.9
petal_width           2.5
species         virginica
dtype: object

In [173]:
aa.describe()

NameError: name 'aa' is not defined

In [181]:
import numpy as np

In [182]:
#숫자 있는 거
aa.describe(include=[np.object])

<ipython-input-182-4369f490e519>:2: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  aa.describe(include=[np.object])

           species
count          150
unique           3
top     versicolor
freq            50

In [183]:
#수치형 데이터
aa.describe(include=[np.number])

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [116]:
help(aa.describe)

Help on method describe in module pandas.core.generic:

describe(percentiles=None, include=None, exclude=None, datetime_is_numeric=False) -> 'FrameOrSeries' method of pandas.core.frame.DataFrame instance
    Generate descriptive statistics.

    Descriptive statistics include those that summarize the central
    tendency, dispersion and shape of a
    dataset's distribution, excluding ``NaN`` values.

    Analyzes both numeric and object series, as well
    as ``DataFrame`` column sets of mixed data types. The output
    will vary depending on what is provided. Refer to the notes
    below for more detail.

    Parameters
    ----------
    percentiles : list-like of numbers, optional
        The percentiles to include in the output. All should
        fall between 0 and 1. The default is
        ``[.25, .5, .75]``, which returns the 25th, 50th, and
        75th percentiles.
    include : 'all', list-like of dtypes or None (default), optional
        A white list of data types to include in the result. Ignored
        for ``Series``. Here are the options:

        - 'all' : All columns of the input will be included in the output.
        - A list-like of dtypes : Limits the results to the
          provided data types.
          To limit the result to numeric types submit
          ``numpy.number``. To limit it instead to object columns submit
          the ``numpy.object`` data type. Strings
          can also be used in the style of
          ``select_dtypes`` (e.g. ``df.describe(include=['O'])``). To
          select pandas categorical columns, use ``'category'``
        - None (default) : The result will include all numeric columns.
    exclude : list-like of dtypes or None (default), optional,
        A black list of data types to omit from the result. Ignored
        for ``Series``. Here are the options:

        - A list-like of dtypes : Excludes the provided data types
          from the result. To exclude numeric types submit
          ``numpy.number``. To exclude object columns submit the data
          type ``numpy.object``. Strings can also be used in the style of
          ``select_dtypes`` (e.g. ``df.describe(include=['O'])``). To
          exclude pandas categorical columns, use ``'category'``
        - None (default) : The result will exclude nothing.
    datetime_is_numeric : bool, default False
        Whether to treat datetime dtypes as numeric. This affects statistics
        calculated for the column. For DataFrame input, this also
        controls whether datetime columns are included by default.

        .. versionadded:: 1.1.0

    Returns
    -------
    Series or DataFrame
        Summary statistics of the Series or Dataframe provided.

    See Also
    --------
    DataFrame.count: Count number of non-NA/null observations.
    DataFrame.max: Maximum of the values in the object.
    DataFrame.min: Minimum of the values in the object.
    DataFrame.mean: Mean of the values.
    DataFrame.std: Standard deviation of the observations.
    DataFrame.select_dtypes: Subset of a DataFrame including/excluding
        columns based on their dtype.

    Notes
    -----
    For numeric data, the result's index will include ``count``,
    ``mean``, ``std``, ``min``, ``max`` as well as lower, ``50`` and
    upper percentiles. By default the lower percentile is ``25`` and the
    upper percentile is ``75``. The ``50`` percentile is the
    same as the median.

    For object data (e.g. strings or timestamps), the result's index
    will include ``count``, ``unique``, ``top``, and ``freq``. The ``top``
    is the most common value. The ``freq`` is the most common value's
    frequency. Timestamps also include the ``first`` and ``last`` items.

    If multiple object values have the highest count, then the
    ``count`` and ``top`` results will be arbitrarily chosen from
    among those with the highest count.

    For mixed data types provided via a ``DataFrame``, the default is to
    return only an analysis of numeric columns. If the dataframe consists
    only of object and categorical data without any numeric columns, the
    default is to return an analysis of both the object and categorical
    columns. If ``include='all'`` is provided as an option, the result
    will include a union of attributes of each type.

    The `include` and `exclude` parameters can be used to limit
    which columns in a ``DataFrame`` are analyzed for the output.
    The parameters are ignored when analyzing a ``Series``.

    Examples
    --------
    Describing a numeric ``Series``.

    >>> s = pd.Series([1, 2, 3])
    >>> s.describe()
    count    3.0
    mean     2.0
    std      1.0
    min      1.0
    25%      1.5
    50%      2.0
    75%      2.5
    max      3.0
    dtype: float64

    Describing a categorical ``Series``.

    >>> s = pd.Series(['a', 'a', 'b', 'c'])
    >>> s.describe()
    count     4
    unique    3
    top       a
    freq      2
    dtype: object

    Describing a timestamp ``Series``.

    >>> s = pd.Series([
    ...   np.datetime64("2000-01-01"),
    ...   np.datetime64("2010-01-01"),
    ...   np.datetime64("2010-01-01")
    ... ])
    >>> s.describe(datetime_is_numeric=True)
    count                      3
    mean     2006-09-01 08:00:00
    min      2000-01-01 00:00:00
    25%      2004-12-31 12:00:00
    50%      2010-01-01 00:00:00
    75%      2010-01-01 00:00:00
    max      2010-01-01 00:00:00
    dtype: object

    Describing a ``DataFrame``. By default only numeric fields
    are returned.

    >>> df = pd.DataFrame({'categorical': pd.Categorical(['d','e','f']),
    ...                    'numeric': [1, 2, 3],
    ...                    'object': ['a', 'b', 'c']
    ...                   })
    >>> df.describe()
           numeric
    count      3.0
    mean       2.0
    std        1.0
    min        1.0
    25%        1.5
    50%        2.0
    75%        2.5
    max        3.0

    Describing all columns of a ``DataFrame`` regardless of data type.

    >>> df.describe(include='all')  # doctest: +SKIP
           categorical  numeric object
    count            3      3.0      3
    unique           3      NaN      3
    top              f      NaN      a
    freq             1      NaN      1
    mean           NaN      2.0    NaN
    std            NaN      1.0    NaN
    min            NaN      1.0    NaN
    25%            NaN      1.5    NaN
    50%            NaN      2.0    NaN
    75%            NaN      2.5    NaN
    max            NaN      3.0    NaN

    Describing a column from a ``DataFrame`` by accessing it as
    an attribute.

    >>> df.numeric.describe()
    count    3.0
    mean     2.0
    std      1.0
    min      1.0
    25%      1.5
    50%      2.0
    75%      2.5
    max      3.0
    Name: numeric, dtype: float64

    Including only numeric columns in a ``DataFrame`` description.

    >>> df.describe(include=[np.number])
           numeric
    count      3.0
    mean       2.0
    std        1.0
    min        1.0
    25%        1.5
    50%        2.0
    75%        2.5
    max        3.0

    Including only string columns in a ``DataFrame`` description.

    >>> df.describe(include=[object])  # doctest: +SKIP
           object
    count       3
    unique      3
    top         a
    freq        1

    Including only categorical columns from a ``DataFrame`` description.

    >>> df.describe(include=['category'])
           categorical
    count            3
    unique           3
    top              d
    freq             1

    Excluding numeric columns from a ``DataFrame`` description.

    >>> df.describe(exclude=[np.number])  # doctest: +SKIP
           categorical object
    count            3      3
    unique           3      3
    top              f      a
    freq             1      1

    Excluding object columns from a ``DataFrame`` description.

    >>> df.describe(exclude=[object])  # doctest: +SKIP
           categorical  numeric
    count            3      3.0
    unique           3      NaN
    top              f      NaN
    freq             1      NaN
    mean           NaN      2.0
    std            NaN      1.0
    min            NaN      1.0
    25%            NaN      1.5
    50%            NaN      2.0
    75%            NaN      2.5
    max            NaN      3.0

## 4. 결측값 처리
##### 변수명.dropna, 변수명.fillna

In [184]:
import pandas as pd
import numpy as np

In [185]:
haha = pd.DataFrame(
    {'A': [np.nan, 3, np.nan],
     'B': [2, 4, np.nan],
     'C': [np.nan, np.nan, np.nan],
     'D': [0, 1, 5]})

haha

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5

In [3]:
help(haha.dropna)

Help on method dropna in module pandas.core.frame:

dropna(axis=0, how='any', thresh=None, subset=None, inplace=False) method of pandas.core.frame.DataFrame instance
    Remove missing values.

    See the :ref:`User Guide <missing_data>` for more on which values are
    considered missing, and how to work with missing data.

    Parameters
    ----------
    axis : {0 or 'index', 1 or 'columns'}, default 0
        Determine if rows or columns which contain missing values are
        removed.

        * 0, or 'index' : Drop rows which contain missing values.
        * 1, or 'columns' : Drop columns which contain missing value.

        .. versionchanged:: 1.0.0

           Pass tuple or list to drop on multiple axes.
           Only a single axis is allowed.

    how : {'any', 'all'}, default 'any'
        Determine if row or column is removed from DataFrame, when we have
        at least one NA or all NA.

        * 'any' : If any NA values are present, drop that row or column.
        * 'all' : If all values are NA, drop that row or column.

    thresh : int, optional
        Require that many non-NA values.
    subset : array-like, optional
        Labels along other axis to consider, e.g. if you are dropping rows
        these would be a list of columns to include.
    inplace : bool, default False
        If True, do operation inplace and return None.

    Returns
    -------
    DataFrame or None
        DataFrame with NA entries dropped from it or None if ``inplace=True``.

    See Also
    --------
    DataFrame.isna: Indicate missing values.
    DataFrame.notna : Indicate existing (non-missing) values.
    DataFrame.fillna : Replace missing values.
    Series.dropna : Drop missing values.
    Index.dropna : Drop missing indices.

    Examples
    --------
    >>> df = pd.DataFrame({"name": ['Alfred', 'Batman', 'Catwoman'],
    ...                    "toy": [np.nan, 'Batmobile', 'Bullwhip'],
    ...                    "born": [pd.NaT, pd.Timestamp("1940-04-25"),
    ...                             pd.NaT]})
    >>> df
           name        toy       born
    0    Alfred        NaN        NaT
    1    Batman  Batmobile 1940-04-25
    2  Catwoman   Bullwhip        NaT

    Drop the rows where at least one element is missing.

    >>> df.dropna()
         name        toy       born
    1  Batman  Batmobile 1940-04-25

    Drop the columns where at least one element is missing.

    >>> df.dropna(axis='columns')
           name
    0    Alfred
    1    Batman
    2  Catwoman

    Drop the rows where all elements are missing.

    >>> df.dropna(how='all')
           name        toy       born
    0    Alfred        NaN        NaT
    1    Batman  Batmobile 1940-04-25
    2  Catwoman   Bullwhip        NaT

    Keep only the rows with at least 2 non-NA values.

    >>> df.dropna(thresh=2)
           name        toy       born
    1    Batman  Batmobile 1940-04-25
    2  Catwoman   Bullwhip        NaT

    Define in which columns to look for missing values.

    >>> df.dropna(subset=['name', 'toy'])
           name        toy       born
    1    Batman  Batmobile 1940-04-25
    2  Catwoman   Bullwhip        NaT

    Keep the DataFrame with valid entries in the same variable.

    >>> df.dropna(inplace=True)
    >>> df
         name        toy       born
    1  Batman  Batmobile 1940-04-25

In [187]:
haha

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5

In [188]:
# exis가 1이면 세로
# 다 결측값이면 버림
haha.dropna(axis=1, how='all')

     A    B  D
0  NaN  2.0  0
1  3.0  4.0  1
2  NaN  NaN  5

In [6]:
haha

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5

In [7]:
#axis=0 이면 가로
haha.dropna(axis=0, how='all')

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5

In [8]:
haha.dropna(axis=1, how='any')

   D
0  0
1  1
2  5

In [9]:
haha.dropna(axis=0, how='any')

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [10]:
help(haha.fillna)

Help on method fillna in module pandas.core.frame:

fillna(value=None, method=None, axis=None, inplace=False, limit=None, downcast=None) -> 'Optional[DataFrame]' method of pandas.core.frame.DataFrame instance
    Fill NA/NaN values using the specified method.

    Parameters
    ----------
    value : scalar, dict, Series, or DataFrame
        Value to use to fill holes (e.g. 0), alternately a
        dict/Series/DataFrame of values specifying which value to use for
        each index (for a Series) or column (for a DataFrame).  Values not
        in the dict/Series/DataFrame will not be filled. This value cannot
        be a list.
    method : {'backfill', 'bfill', 'pad', 'ffill', None}, default None
        Method to use for filling holes in reindexed Series
        pad / ffill: propagate last valid observation forward to next valid
        backfill / bfill: use next valid observation to fill gap.
    axis : {0 or 'index', 1 or 'columns'}
        Axis along which to fill missing values.
    inplace : bool, default False
        If True, fill in-place. Note: this will modify any
        other views on this object (e.g., a no-copy slice for a column in a
        DataFrame).
    limit : int, default None
        If method is specified, this is the maximum number of consecutive
        NaN values to forward/backward fill. In other words, if there is
        a gap with more than this number of consecutive NaNs, it will only
        be partially filled. If method is not specified, this is the
        maximum number of entries along the entire axis where NaNs will be
        filled. Must be greater than 0 if not None.
    downcast : dict, default is None
        A dict of item->dtype of what to downcast if possible,
        or the string 'infer' which will try to downcast to an appropriate
        equal type (e.g. float64 to int64 if possible).

    Returns
    -------
    DataFrame or None
        Object with missing values filled or None if ``inplace=True``.

    See Also
    --------
    interpolate : Fill NaN values using interpolation.
    reindex : Conform object to new index.
    asfreq : Convert TimeSeries to specified frequency.

    Examples
    --------
    >>> df = pd.DataFrame([[np.nan, 2, np.nan, 0],
    ...                    [3, 4, np.nan, 1],
    ...                    [np.nan, np.nan, np.nan, 5],
    ...                    [np.nan, 3, np.nan, 4]],
    ...                   columns=list('ABCD'))
    >>> df
         A    B   C  D
    0  NaN  2.0 NaN  0
    1  3.0  4.0 NaN  1
    2  NaN  NaN NaN  5
    3  NaN  3.0 NaN  4

    Replace all NaN elements with 0s.

    >>> df.fillna(0)
        A   B   C   D
    0   0.0 2.0 0.0 0
    1   3.0 4.0 0.0 1
    2   0.0 0.0 0.0 5
    3   0.0 3.0 0.0 4

    We can also propagate non-null values forward or backward.

    >>> df.fillna(method='ffill')
        A   B   C   D
    0   NaN 2.0 NaN 0
    1   3.0 4.0 NaN 1
    2   3.0 4.0 NaN 5
    3   3.0 3.0 NaN 4

    Replace all NaN elements in column 'A', 'B', 'C', and 'D', with 0, 1,
    2, and 3 respectively.

    >>> values = {'A': 0, 'B': 1, 'C': 2, 'D': 3}
    >>> df.fillna(value=values)
        A   B   C   D
    0   0.0 2.0 2.0 0
    1   3.0 4.0 2.0 1
    2   0.0 1.0 2.0 5
    3   0.0 3.0 2.0 4

    Only replace the first NaN element.

    >>> df.fillna(value=values, limit=1)
        A   B   C   D
    0   0.0 2.0 2.0 0
    1   3.0 4.0 NaN 1
    2   NaN 1.0 NaN 5
    3   NaN 3.0 NaN 4

In [11]:
haha.fillna(7)

     A    B    C  D
0  7.0  2.0  7.0  0
1  3.0  4.0  7.0  1
2  7.0  7.0  7.0  5

In [12]:
haha

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5

In [13]:
haha.fillna({'A':0, 'B':1, 'C':2, 'D':3})

     A    B    C  D
0  0.0  2.0  2.0  0
1  3.0  4.0  2.0  1
2  0.0  1.0  2.0  5

In [14]:
haha

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5

In [15]:
ee = {'A':0, 'B':1, 'C':2, 'D':3}
haha.fillna(ee)

     A    B    C  D
0  0.0  2.0  2.0  0
1  3.0  4.0  2.0  1
2  0.0  1.0  2.0  5

In [16]:
haha.D.mean()

2.0

In [17]:
haha['D'].mean()

2.0

In [20]:
haha.fillna(haha['D'].mean())

     A    B    C  D
0  2.0  2.0  2.0  0
1  3.0  4.0  2.0  1
2  2.0  2.0  2.0  5

In [22]:
#앞에 받아올 결측값 있을 때만 받아옴
haha.fillna(method='ffill')

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  3.0  4.0 NaN  5

In [24]:
#앞에가 채워짐
haha.fillna(method='bfill')

     A    B   C  D
0  3.0  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5

## 5. 새로운 컬럼 만들기...
#### 원본데이터에 바로 적용 "안"하는 변수명.aasign

In [27]:
haha['E'] = haha.D
haha
# 원본 데이터에 바로 적용되는 방법

     A    B   C  D  E
0  NaN  2.0 NaN  0  0
1  3.0  4.0 NaN  1  1
2  NaN  NaN NaN  5  5

In [29]:
haha

     A    B   C  D  E
0  NaN  2.0 NaN  0  0
1  3.0  4.0 NaN  1  1
2  NaN  NaN NaN  5  5

In [31]:
haha.assign(F= haha.D)

     A    B   C  D  E  F
0  NaN  2.0 NaN  0  0  0
1  3.0  4.0 NaN  1  1  1
2  NaN  NaN NaN  5  5  5

In [33]:
haha

     A    B   C  D  E
0  NaN  2.0 NaN  0  0
1  3.0  4.0 NaN  1  1
2  NaN  NaN NaN  5  5

In [35]:
help(haha.assign)

Help on method assign in module pandas.core.frame:

assign(**kwargs) -> 'DataFrame' method of pandas.core.frame.DataFrame instance
    Assign new columns to a DataFrame.

    Returns a new object with all original columns in addition to new ones.
    Existing columns that are re-assigned will be overwritten.

    Parameters
    ----------
    **kwargs : dict of {str: callable or Series}
        The column names are keywords. If the values are
        callable, they are computed on the DataFrame and
        assigned to the new columns. The callable must not
        change input DataFrame (though pandas doesn't check it).
        If the values are not callable, (e.g. a Series, scalar, or array),
        they are simply assigned.

    Returns
    -------
    DataFrame
        A new DataFrame with the new columns in addition to
        all the existing columns.

    Notes
    -----
    Assigning multiple columns within the same ``assign`` is possible.
    Later items in '\*\*kwargs' may refer to newly created or modified
    columns in 'df'; items are computed and assigned into 'df' in order.

    Examples
    --------
    >>> df = pd.DataFrame({'temp_c': [17.0, 25.0]},
    ...                   index=['Portland', 'Berkeley'])
    >>> df
              temp_c
    Portland    17.0
    Berkeley    25.0

    Where the value is a callable, evaluated on `df`:

    >>> df.assign(temp_f=lambda x: x.temp_c * 9 / 5 + 32)
              temp_c  temp_f
    Portland    17.0    62.6
    Berkeley    25.0    77.0

    Alternatively, the same behavior can be achieved by directly
    referencing an existing Series or sequence:

    >>> df.assign(temp_f=df['temp_c'] * 9 / 5 + 32)
              temp_c  temp_f
    Portland    17.0    62.6
    Berkeley    25.0    77.0

    You can create multiple columns within the same assign where one
    of the columns depends on another one defined within the same assign:

    >>> df.assign(temp_f=lambda x: x['temp_c'] * 9 / 5 + 32,
    ...           temp_k=lambda x: (x['temp_f'] +  459.67) * 5 / 9)
              temp_c  temp_f  temp_k
    Portland    17.0    62.6  290.15
    Berkeley    25.0    77.0  298.15

## 6. 값을 구간으로 나누는 변수명.cut(), 변수명.qcut()
#### pd.cut( 일차원 array, 구간(수), 우측경계, labels ....)
#### pd.cut(    x     , bins   , right=True, lables..)

In [51]:
import numpy as np
gaga = pd.DataFrame(
    {'A': range(1,11), 'B': np.random.randn(10)})
gaga

    A         B
0   1 -0.270134
1   2  2.203242
2   3 -0.267002
3   4  0.243872
4   5 -1.481327
5   6  0.108158
6   7  0.487946
7   8  0.324808
8   9 -1.172681
9  10  0.222377

In [46]:
pd.cut

In [48]:
# cut은 1차원만 가능
help(pd.cut)
# gaga.cut 즉, 변수명.cut()은 안됨!!

Help on function cut in module pandas.core.reshape.tile:

cut(x, bins, right: bool = True, labels=None, retbins: bool = False, precision: int = 3, include_lowest: bool = False, duplicates: str = 'raise', ordered: bool = True)
    Bin values into discrete intervals.

    Use `cut` when you need to segment and sort data values into bins. This
    function is also useful for going from a continuous variable to a
    categorical variable. For example, `cut` could convert ages to groups of
    age ranges. Supports binning into an equal number of bins, or a
    pre-specified array of bins.

    Parameters
    ----------
    x : array-like
        The input array to be binned. Must be 1-dimensional.
    bins : int, sequence of scalars, or IntervalIndex
        The criteria to bin by.

        * int : Defines the number of equal-width bins in the range of `x`. The
          range of `x` is extended by .1% on each side to include the minimum
          and maximum values of `x`.
        * sequence of scalars : Defines the bin edges allowing for non-uniform
          width. No extension of the range of `x` is done.
        * IntervalIndex : Defines the exact bins to be used. Note that
          IntervalIndex for `bins` must be non-overlapping.

    right : bool, default True
        Indicates whether `bins` includes the rightmost edge or not. If
        ``right == True`` (the default), then the `bins` ``[1, 2, 3, 4]``
        indicate (1,2], (2,3], (3,4]. This argument is ignored when
        `bins` is an IntervalIndex.
    labels : array or False, default None
        Specifies the labels for the returned bins. Must be the same length as
        the resulting bins. If False, returns only integer indicators of the
        bins. This affects the type of the output container (see below).
        This argument is ignored when `bins` is an IntervalIndex. If True,
        raises an error. When `ordered=False`, labels must be provided.
    retbins : bool, default False
        Whether to return the bins or not. Useful when bins is provided
        as a scalar.
    precision : int, default 3
        The precision at which to store and display the bins labels.
    include_lowest : bool, default False
        Whether the first interval should be left-inclusive or not.
    duplicates : {default 'raise', 'drop'}, optional
        If bin edges are not unique, raise ValueError or drop non-uniques.
    ordered : bool, default True
        Whether the labels are ordered or not. Applies to returned types
        Categorical and Series (with Categorical dtype). If True,
        the resulting categorical will be ordered. If False, the resulting
        categorical will be unordered (labels must be provided).

        .. versionadded:: 1.1.0

    Returns
    -------
    out : Categorical, Series, or ndarray
        An array-like object representing the respective bin for each value
        of `x`. The type depends on the value of `labels`.

        * True (default) : returns a Series for Series `x` or a
          Categorical for all other inputs. The values stored within
          are Interval dtype.

        * sequence of scalars : returns a Series for Series `x` or a
          Categorical for all other inputs. The values stored within
          are whatever the type in the sequence is.

        * False : returns an ndarray of integers.

    bins : numpy.ndarray or IntervalIndex.
        The computed or specified bins. Only returned when `retbins=True`.
        For scalar or sequence `bins`, this is an ndarray with the computed
        bins. If set `duplicates=drop`, `bins` will drop non-unique bin. For
        an IntervalIndex `bins`, this is equal to `bins`.

    See Also
    --------
    qcut : Discretize variable into equal-sized buckets based on rank
        or based on sample quantiles.
    Categorical : Array type for storing data that come from a
        fixed set of values.
    Series : One-dimensional array with axis labels (including time series).
    IntervalIndex : Immutable Index implementing an ordered, sliceable set.

    Notes
    -----
    Any NA values will be NA in the result. Out of bounds values will be NA in
    the resulting Series or Categorical object.

    Examples
    --------
    Discretize into three equal-sized bins.

    >>> pd.cut(np.array([1, 7, 5, 4, 6, 3]), 3)
    ... # doctest: +ELLIPSIS
    [(0.994, 3.0], (5.0, 7.0], (3.0, 5.0], (3.0, 5.0], (5.0, 7.0], ...
    Categories (3, interval[float64]): [(0.994, 3.0] < (3.0, 5.0] ...

    >>> pd.cut(np.array([1, 7, 5, 4, 6, 3]), 3, retbins=True)
    ... # doctest: +ELLIPSIS
    ([(0.994, 3.0], (5.0, 7.0], (3.0, 5.0], (3.0, 5.0], (5.0, 7.0], ...
    Categories (3, interval[float64]): [(0.994, 3.0] < (3.0, 5.0] ...
    array([0.994, 3.   , 5.   , 7.   ]))

    Discovers the same bins, but assign them specific labels. Notice that
    the returned Categorical's categories are `labels` and is ordered.

    >>> pd.cut(np.array([1, 7, 5, 4, 6, 3]),
    ...        3, labels=["bad", "medium", "good"])
    ['bad', 'good', 'medium', 'medium', 'good', 'bad']
    Categories (3, object): ['bad' < 'medium' < 'good']

    ``ordered=False`` will result in unordered categories when labels are passed.
    This parameter can be used to allow non-unique labels:

    >>> pd.cut(np.array([1, 7, 5, 4, 6, 3]), 3,
    ...        labels=["B", "A", "B"], ordered=False)
    ['B', 'B', 'A', 'A', 'B', 'B']
    Categories (2, object): ['A', 'B']

    ``labels=False`` implies you just want the bins back.

    >>> pd.cut([0, 1, 1, 2], bins=4, labels=False)
    array([0, 1, 1, 3])

    Passing a Series as an input returns a Series with categorical dtype:

    >>> s = pd.Series(np.array([2, 4, 6, 8, 10]),
    ...               index=['a', 'b', 'c', 'd', 'e'])
    >>> pd.cut(s, 3)
    ... # doctest: +ELLIPSIS
    a    (1.992, 4.667]
    b    (1.992, 4.667]
    c    (4.667, 7.333]
    d     (7.333, 10.0]
    e     (7.333, 10.0]
    dtype: category
    Categories (3, interval[float64]): [(1.992, 4.667] < (4.667, ...

    Passing a Series as an input returns a Series with mapping value.
    It is used to map numerically to intervals based on bins.

    >>> s = pd.Series(np.array([2, 4, 6, 8, 10]),
    ...               index=['a', 'b', 'c', 'd', 'e'])
    >>> pd.cut(s, [0, 2, 4, 6, 8, 10], labels=False, retbins=True, right=False)
    ... # doctest: +ELLIPSIS
    (a    1.0
     b    2.0
     c    3.0
     d    4.0
     e    NaN
     dtype: float64,
     array([ 0,  2,  4,  6,  8, 10]))

    Use `drop` optional when bins is not unique

    >>> pd.cut(s, [0, 2, 4, 6, 10, 10], labels=False, retbins=True,
    ...        right=False, duplicates='drop')
    ... # doctest: +ELLIPSIS
    (a    1.0
     b    2.0
     c    3.0
     d    3.0
     e    NaN
     dtype: float64,
     array([ 0,  2,  4,  6, 10]))

    Passing an IntervalIndex for `bins` results in those categories exactly.
    Notice that values not covered by the IntervalIndex are set to NaN. 0
    is to the left of the first bin (which is closed on the right), and 1.5
    falls between two bins.

    >>> bins = pd.IntervalIndex.from_tuples([(0, 1), (2, 3), (4, 5)])
    >>> pd.cut([0, 0.5, 1.5, 2.5, 4.5], bins)
    [NaN, (0.0, 1.0], NaN, (2.0, 3.0], (4.0, 5.0]]
    Categories (3, interval[int64]): [(0, 1] < (2, 3] < (4, 5]]

In [50]:
#구간 3개로 나눔
pd.cut(gaga['A'], 3)
# 구간을 3개로 알아서 나누라 했으므로
# 1구간은 0.991~4.0으로, 2구간은 4.0~7.0으로, 3구간은 7.0~10.0으로 나눔
# 실제값 1은 1구간에 해당, 실제값 7은 2구간에 해당,
# 결과값은 구간의 범주로만 표시됨(실제값 안나놈)

# 이상 vs 초과, 이하 vs 미만
# 우측경계값을 결정하는 right를 True로 하면 우측 경계값 포람
## 4~7에서 right=True로 하면 4초과 7이하로 적용 (4, 7]
## 4~77에서 right=False로 하면 4이상 7미만/ 7이상 [4, 7)

0    (0.991, 4.0]
1    (0.991, 4.0]
2    (0.991, 4.0]
3    (0.991, 4.0]
4      (4.0, 7.0]
5      (4.0, 7.0]
6      (4.0, 7.0]
7     (7.0, 10.0]
8     (7.0, 10.0]
9     (7.0, 10.0]
Name: A, dtype: category
Categories (3, interval[float64]): [(0.991, 4.0] < (4.0, 7.0] < (7.0, 10.0]]

In [55]:
pd.cut(gaga.A, [0, 4, 7, 10])

0     (0, 4]
1     (0, 4]
2     (0, 4]
3     (0, 4]
4     (4, 7]
5     (4, 7]
6     (4, 7]
7    (7, 10]
8    (7, 10]
9    (7, 10]
Name: A, dtype: category
Categories (3, interval[int64]): [(0, 4] < (4, 7] < (7, 10]]

In [57]:
pd.cut(gaga.A, [0, 4, 7, 10], right=False)

0     [0.0, 4.0)
1     [0.0, 4.0)
2     [0.0, 4.0)
3     [4.0, 7.0)
4     [4.0, 7.0)
5     [4.0, 7.0)
6    [7.0, 10.0)
7    [7.0, 10.0)
8    [7.0, 10.0)
9            NaN
Name: A, dtype: category
Categories (3, interval[int64]): [[0, 4) < [4, 7) < [7, 10)]

In [59]:
pd.cut(gaga.A, [0, 4, 7, 10], labels=['L', 'M', 'H'])

0    L
1    L
2    L
3    L
4    M
5    M
6    M
7    H
8    H
9    H
Name: A, dtype: category
Categories (3, object): ['L' < 'M' < 'H']

#### pd.cut()

In [61]:
import pandas as pd
import numpy as np
gaga = pd.DataFrame(
    {'A': range(1,11), 'B': np.random.randn(10)})
gaga

    A         B
0   1  1.341073
1   2  1.798084
2   3  0.496500
3   4 -0.915441
4   5 -0.415077
5   6 -1.495913
6   7  1.559602
7   8 -1.277974
8   9 -1.081870
9  10  0.011613

In [65]:
# 1넘어가면 안됨
help(pd.qcut)

Help on function qcut in module pandas.core.reshape.tile:

qcut(x, q, labels=None, retbins: bool = False, precision: int = 3, duplicates: str = 'raise')
    Quantile-based discretization function.

    Discretize variable into equal-sized buckets based on rank or based
    on sample quantiles. For example 1000 values for 10 quantiles would
    produce a Categorical object indicating quantile membership for each data point.

    Parameters
    ----------
    x : 1d ndarray or Series
    q : int or list-like of float
        Number of quantiles. 10 for deciles, 4 for quartiles, etc. Alternately
        array of quantiles, e.g. [0, .25, .5, .75, 1.] for quartiles.
    labels : array or False, default None
        Used as labels for the resulting bins. Must be of the same length as
        the resulting bins. If False, return only integer indicators of the
        bins. If True, raises an error.
    retbins : bool, optional
        Whether to return the (bins, labels) or not. Can be useful if bins
        is given as a scalar.
    precision : int, optional
        The precision at which to store and display the bins labels.
    duplicates : {default 'raise', 'drop'}, optional
        If bin edges are not unique, raise ValueError or drop non-uniques.

    Returns
    -------
    out : Categorical or Series or array of integers if labels is False
        The return type (Categorical or Series) depends on the input: a Series
        of type category if input is a Series else Categorical. Bins are
        represented as categories when categorical data is returned.
    bins : ndarray of floats
        Returned only if `retbins` is True.

    Notes
    -----
    Out of bounds values will be NA in the resulting Categorical object

    Examples
    --------
    >>> pd.qcut(range(5), 4)
    ... # doctest: +ELLIPSIS
    [(-0.001, 1.0], (-0.001, 1.0], (1.0, 2.0], (2.0, 3.0], (3.0, 4.0]]
    Categories (4, interval[float64]): [(-0.001, 1.0] < (1.0, 2.0] ...

    >>> pd.qcut(range(5), 3, labels=["good", "medium", "bad"])
    ... # doctest: +SKIP
    [good, good, medium, bad, bad]
    Categories (3, object): [good < medium < bad]

    >>> pd.qcut(range(5), 4, labels=False)
    array([0, 0, 1, 2, 3])

In [68]:
pd.qcut(gaga.A, 3)

0    (0.999, 4.0]
1    (0.999, 4.0]
2    (0.999, 4.0]
3    (0.999, 4.0]
4      (4.0, 7.0]
5      (4.0, 7.0]
6      (4.0, 7.0]
7     (7.0, 10.0]
8     (7.0, 10.0]
9     (7.0, 10.0]
Name: A, dtype: category
Categories (3, interval[float64]): [(0.999, 4.0] < (4.0, 7.0] < (7.0, 10.0]]

In [70]:
#pd.qcut(gaga.A, [0, 4, 7, 10])
pd.qcut(gaga.A, [0.0, 0.4, 0.7, 1])

0    (0.999, 4.6]
1    (0.999, 4.6]
2    (0.999, 4.6]
3    (0.999, 4.6]
4      (4.6, 7.3]
5      (4.6, 7.3]
6      (4.6, 7.3]
7     (7.3, 10.0]
8     (7.3, 10.0]
9     (7.3, 10.0]
Name: A, dtype: category
Categories (3, interval[float64]): [(0.999, 4.6] < (4.6, 7.3] < (7.3, 10.0]]

In [73]:
pd.qcut(gaga.A, [0, 0.25, 0.5, 0.75, 1],
        labels=['1st', '2nd', '3rd', '4th'])

0    1st
1    1st
2    1st
3    2nd
4    2nd
5    3rd
6    3rd
7    4th
8    4th
9    4th
Name: A, dtype: category
Categories (4, object): ['1st' < '2nd' < '3rd' < '4th']

In [75]:
pd.cut(gaga.A, 3)

0    (0.991, 4.0]
1    (0.991, 4.0]
2    (0.991, 4.0]
3    (0.991, 4.0]
4      (4.0, 7.0]
5      (4.0, 7.0]
6      (4.0, 7.0]
7     (7.0, 10.0]
8     (7.0, 10.0]
9     (7.0, 10.0]
Name: A, dtype: category
Categories (3, interval[float64]): [(0.991, 4.0] < (4.0, 7.0] < (7.0, 10.0]]

In [77]:
pd.qcut(gaga.A, 3)

0    (0.999, 4.0]
1    (0.999, 4.0]
2    (0.999, 4.0]
3    (0.999, 4.0]
4      (4.0, 7.0]
5      (4.0, 7.0]
6      (4.0, 7.0]
7     (7.0, 10.0]
8     (7.0, 10.0]
9     (7.0, 10.0]
Name: A, dtype: category
Categories (3, interval[float64]): [(0.999, 4.0] < (4.0, 7.0] < (7.0, 10.0]]

In [86]:
nana = pd.DataFrame(
    {'C': [0, 1, 3, 5, 7, 11, 9, 10, 1, 2],
     'D': np.random.randn(10)})
nana

    C         D
0   0 -1.734093
1   1  1.596782
2   3 -1.157418
3   5  1.009438
4   7  0.133817
5  11  0.487186
6   9  0.400389
7  10  0.399279
8   1 -0.184369
9   2  0.508510

In [87]:
pd.cut(nana.C, 3)

0    (-0.011, 3.667]
1    (-0.011, 3.667]
2    (-0.011, 3.667]
3     (3.667, 7.333]
4     (3.667, 7.333]
5      (7.333, 11.0]
6      (7.333, 11.0]
7      (7.333, 11.0]
8    (-0.011, 3.667]
9    (-0.011, 3.667]
Name: C, dtype: category
Categories (3, interval[float64]): [(-0.011, 3.667] < (3.667, 7.333] < (7.333, 11.0]]

In [89]:
pd.qcut(nana.C, 3)

0    (-0.001, 2.0]
1    (-0.001, 2.0]
2       (2.0, 7.0]
3       (2.0, 7.0]
4       (2.0, 7.0]
5      (7.0, 11.0]
6      (7.0, 11.0]
7      (7.0, 11.0]
8    (-0.001, 2.0]
9    (-0.001, 2.0]
Name: C, dtype: category
Categories (3, interval[float64]): [(-0.001, 2.0] < (2.0, 7.0] < (7.0, 11.0]]

In [92]:
gg = pd.cut(gaga.A, [0, 4, 7, 10])
gg

0     (0, 4]
1     (0, 4]
2     (0, 4]
3     (0, 4]
4     (4, 7]
5     (4, 7]
6     (4, 7]
7    (7, 10]
8    (7, 10]
9    (7, 10]
Name: A, dtype: category
Categories (3, interval[int64]): [(0, 4] < (4, 7] < (7, 10]]

In [94]:
gaga.A

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: A, dtype: int64

In [96]:
gg.value_counts()

(0, 4]     4
(4, 7]     3
(7, 10]    3
Name: A, dtype: int64

In [100]:
gg2 = pd.cut(gaga.A, [0, 4, 7, 10],
       right=False,
       labels=['L', 'M', 'H'])
gg2

0      L
1      L
2      L
3      M
4      M
5      M
6      H
7      H
8      H
9    NaN
Name: A, dtype: category
Categories (3, object): ['L' < 'M' < 'H']

In [103]:
gg2.value_counts()
#gg2.value_counts(ascending=True)

L    3
M    3
H    3
Name: A, dtype: int64

In [106]:
dada = pd.DataFrame(
    {'A': range(1,11),
     'B': np.random.randn(10),
     'C': np.random.randn(10),
     'D': np.random.randn(10)})
dada

    A         B         C         D
0   1  0.786042 -0.098793  1.558902
1   2  0.929659 -0.788086 -0.933105
2   3 -0.003345  0.082450  1.504859
3   4 -2.012132  0.627995  0.716100
4   5 -1.140517  0.897633  0.281168
5   6 -0.556480  0.735798 -0.013900
6   7  1.158452  0.254891  0.834160
7   8  0.460866  0.452126 -0.023588
8   9  0.943261 -1.981593  0.177207
9  10 -0.174397 -0.288454  1.709712

In [108]:
# axis =0 (index, 가로행 기준),
# axis =1 (columns, 세로줄 기준)
help(dada.max)

Help on method max in module pandas.core.generic:

max(axis=None, skipna=None, level=None, numeric_only=None, **kwargs) method of pandas.core.frame.DataFrame instance
    Return the maximum of the values over the requested axis.

    If you want the *index* of the maximum, use ``idxmax``. This isthe equivalent of the ``numpy.ndarray`` method ``argmax``.

    Parameters
    ----------
    axis : {index (0), columns (1)}
        Axis for the function to be applied on.
    skipna : bool, default True
        Exclude NA/null values when computing the result.
    level : int or level name, default None
        If the axis is a MultiIndex (hierarchical), count along a
        particular level, collapsing into a Series.
    numeric_only : bool, default None
        Include only float, int, boolean columns. If None, will attempt to use
        everything, then use only numeric data. Not implemented for Series.
    **kwargs
        Additional keyword arguments to be passed to the function.

    Returns
    -------
    Series or DataFrame (if level specified)

    See Also
    --------
    Series.sum : Return the sum.
    Series.min : Return the minimum.
    Series.max : Return the maximum.
    Series.idxmin : Return the index of the minimum.
    Series.idxmax : Return the index of the maximum.
    DataFrame.sum : Return the sum over the requested axis.
    DataFrame.min : Return the minimum over the requested axis.
    DataFrame.max : Return the maximum over the requested axis.
    DataFrame.idxmin : Return the index of the minimum over the requested axis.
    DataFrame.idxmax : Return the index of the maximum over the requested axis.

    Examples
    --------
    >>> idx = pd.MultiIndex.from_arrays([
    ...     ['warm', 'warm', 'cold', 'cold'],
    ...     ['dog', 'falcon', 'fish', 'spider']],
    ...     names=['blooded', 'animal'])
    >>> s = pd.Series([4, 2, 0, 8], name='legs', index=idx)
    >>> s
    blooded  animal
    warm     dog       4
             falcon    2
    cold     fish      0
             spider    8
    Name: legs, dtype: int64

    >>> s.max()
    8

    Max using level names, as well as indices.

    >>> s.max(level='blooded')
    blooded
    warm    4
    cold    8
    Name: legs, dtype: int64

    >>> s.max(level=0)
    blooded
    warm    4
    cold    8
    Name: legs, dtype: int64

In [110]:
dada.max(axis=0)

A    10.000000
B     1.158452
C     0.897633
D     1.709712
dtype: float64

In [112]:
dada.max(axis=1)

0     1.558902
1     2.000000
2     3.000000
3     4.000000
4     5.000000
5     6.000000
6     7.000000
7     8.000000
8     9.000000
9    10.000000
dtype: float64

In [114]:
dada

    A         B         C         D
0   1  0.786042 -0.098793  1.558902
1   2  0.929659 -0.788086 -0.933105
2   3 -0.003345  0.082450  1.504859
3   4 -2.012132  0.627995  0.716100
4   5 -1.140517  0.897633  0.281168
5   6 -0.556480  0.735798 -0.013900
6   7  1.158452  0.254891  0.834160
7   8  0.460866  0.452126 -0.023588
8   9  0.943261 -1.981593  0.177207
9  10 -0.174397 -0.288454  1.709712

## 8. 값 재현하기(임계값 설정) 변수명.clip()

In [116]:
help(dada.clip)

Help on method clip in module pandas.core.generic:

clip(lower=None, upper=None, axis=None, inplace: 'bool_t' = False, *args, **kwargs) -> 'FrameOrSeries' method of pandas.core.frame.DataFrame instance
    Trim values at input threshold(s).

    Assigns values outside boundary to boundary values. Thresholds
    can be singular values or array like, and in the latter case
    the clipping is performed element-wise in the specified axis.

    Parameters
    ----------
    lower : float or array_like, default None
        Minimum threshold value. All values below this
        threshold will be set to it.
    upper : float or array_like, default None
        Maximum threshold value. All values above this
        threshold will be set to it.
    axis : int or str axis name, optional
        Align object with lower and upper along the given axis.
    inplace : bool, default False
        Whether to perform the operation in place on the data.
    *args, **kwargs
        Additional keywords have no effect but might be accepted
        for compatibility with numpy.

    Returns
    -------
    Series or DataFrame or None
        Same type as calling object with the values outside the
        clip boundaries replaced or None if ``inplace=True``.

    See Also
    --------
    Series.clip : Trim values at input threshold in series.
    DataFrame.clip : Trim values at input threshold in dataframe.
    numpy.clip : Clip (limit) the values in an array.

    Examples
    --------
    >>> data = {'col_0': [9, -3, 0, -1, 5], 'col_1': [-2, -7, 6, 8, -5]}
    >>> df = pd.DataFrame(data)
    >>> df
       col_0  col_1
    0      9     -2
    1     -3     -7
    2      0      6
    3     -1      8
    4      5     -5

    Clips per column using lower and upper thresholds:

    >>> df.clip(-4, 6)
       col_0  col_1
    0      6     -2
    1     -3     -4
    2      0      6
    3     -1      6
    4      5     -4

    Clips using specific lower and upper thresholds per column element:

    >>> t = pd.Series([2, -4, -1, 6, 3])
    >>> t
    0    2
    1   -4
    2   -1
    3    6
    4    3
    dtype: int64

    >>> df.clip(t, t + 4, axis=0)
       col_0  col_1
    0      6      2
    1     -3     -4
    2      0      3
    3      6      8
    4      5      3

In [118]:
dada['A']

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: A, dtype: int64

In [122]:
dada['A'].clip(upper=5)

0    1
1    2
2    3
3    4
4    5
5    5
6    5
7    5
8    5
9    5
Name: A, dtype: int64

In [125]:
dada['A'].clip(lower=2)

0     2
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: A, dtype: int64

In [127]:
dada['A'].clip(lower=2, upper=5)

0    2
1    2
2    3
3    4
4    5
5    5
6    5
7    5
8    5
9    5
Name: A, dtype: int64

In [135]:
dada

    A         B         C         D
0   1  0.786042 -0.098793  1.558902
1   2  0.929659 -0.788086 -0.933105
2   3 -0.003345  0.082450  1.504859
3   4 -2.012132  0.627995  0.716100
4   5 -1.140517  0.897633  0.281168
5   6 -0.556480  0.735798 -0.013900
6   7  1.158452  0.254891  0.834160
7   8  0.460866  0.452126 -0.023588
8   9  0.943261 -1.981593  0.177207
9  10 -0.174397 -0.288454  1.709712

In [136]:
dada.clip(lower=2, upper=5)

   A    B    C    D
0  2  2.0  2.0  2.0
1  2  2.0  2.0  2.0
2  3  2.0  2.0  2.0
3  4  2.0  2.0  2.0
4  5  2.0  2.0  2.0
5  5  2.0  2.0  2.0
6  5  2.0  2.0  2.0
7  5  2.0  2.0  2.0
8  5  2.0  2.0  2.0
9  5  2.0  2.0  2.0

In [140]:
s = {'col_0': [9, -3, 0, -1, 5], 'col_1': [-2, -7, 6, 8, -5]}
t = pd.Series([2, -4, -1, 6, 3])

In [141]:
rara = pd.DataFrame(s)
rara

   col_0  col_1
0      9     -2
1     -3     -7
2      0      6
3     -1      8
4      5     -5

In [143]:
rara.clip(t, t + 4, axis=0)

   col_0  col_1
0      6      2
1     -3     -4
2      0      3
3      6      8
4      5      3

  t   t+4
 2     6
-4     0
-1     3
 6     10
 3     7

In [145]:
rara.clip(t, t+4, axis=1)

   col_0  col_1
0    NaN    NaN
1    NaN    NaN
2    NaN    NaN
3    NaN    NaN
4    NaN    NaN

In [147]:
dada['B']

0    0.786042
1    0.929659
2   -0.003345
3   -2.012132
4   -1.140517
5   -0.556480
6    1.158452
7    0.460866
8    0.943261
9   -0.174397
Name: B, dtype: float64

In [149]:
dada['B'].clip(1, 3)

0    1.000000
1    1.000000
2    1.000000
3    1.000000
4    1.000000
5    1.000000
6    1.158452
7    1.000000
8    1.000000
9    1.000000
Name: B, dtype: float64

In [151]:
# 절대값 구하기 변수명.abs()
dada['B'].abs()

0    0.786042
1    0.929659
2    0.003345
3    2.012132
4    1.140517
5    0.556480
6    1.158452
7    0.460866
8    0.943261
9    0.174397
Name: B, dtype: float64

In [153]:
import seaborn as sns

In [157]:
mama = sns.load_dataset("mpg")

In [159]:
mama.head(3)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite

In [161]:
mama.shape

(398, 9)

In [162]:
# 인덱스를 기준으로 행 정렬하고 싶다면 무슨 매서드 써야 하나?
# 변수명.sort_index(ascending=True)

In [164]:
mama.sort_values('mpg')

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
28,9.0,8,304.0,193.0,4732,18.5,70,usa,hi 1200d
25,10.0,8,360.0,215.0,4615,14.0,70,usa,ford f250
26,10.0,8,307.0,200.0,4376,15.0,70,usa,chevy c20
103,11.0,8,400.0,150.0,4997,14.0,73,usa,chevrolet impala
124,11.0,8,350.0,180.0,3664,11.0,73,usa,oldsmobile omega
...,...,...,...,...,...,...,...,...,...
326,43.4,4,90.0,48.0,2335,23.7,80,europe,vw dasher (diesel)
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
325,44.3,4,90.0,48.0,2085,21.7,80,europe,vw rabbit c (diesel)
329,44.6,4,91.0,67.0,1850,13.8,80,japan,honda civic 1500 gl
322,46.6,4,86.0,65.0,2110,17.9,80,japan,mazda glc

In [166]:
mama.sort_values('mpg', ascending=False)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
322,46.6,4,86.0,65.0,2110,17.9,80,japan,mazda glc
329,44.6,4,91.0,67.0,1850,13.8,80,japan,honda civic 1500 gl
325,44.3,4,90.0,48.0,2085,21.7,80,europe,vw rabbit c (diesel)
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
326,43.4,4,90.0,48.0,2335,23.7,80,europe,vw dasher (diesel)
...,...,...,...,...,...,...,...,...,...
103,11.0,8,400.0,150.0,4997,14.0,73,usa,chevrolet impala
67,11.0,8,429.0,208.0,4633,11.0,72,usa,mercury marquis
25,10.0,8,360.0,215.0,4615,14.0,70,usa,ford f250
26,10.0,8,307.0,200.0,4376,15.0,70,usa,chevy c20
28,9.0,8,304.0,193.0,4732,18.5,70,usa,hi 1200d

column 이름 바꾸려면 가능한 매서드?
변수명.rename
변수명.

In [170]:
mama = mama.rename(columns={'model_year':'year'})

In [172]:
mama

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10